:root {
    --color-blue-navy: #002772;
    --color-pink: #FDE2FF;
    --color-light-black: #1E1E1E;
    --color-light-purple: #720060;
    --color-light-aqua: #D6E6FF;
    --color-light-brown: #3F3F3F;
    --color-light-gray: #DCDCDC;
    --color-light-white: #FFFFFF;
}